.page-dep-libres {
  background-color: #3e4144;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.header-dep-libres {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin-bottom: 1rem;
}

.title-page {
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
}

.aparments-content {
  display: flex;
  flex-direction: row;

  flex-wrap: wrap;
}
